*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

/* Navbar */

nav{
    background-color: #d40cef00;
    display: flex;
    padding: 16px 0 16px 10px;
    align-items: center;
    justify-content: space-between;
}

nav .logo a{
    text-decoration: none;
}

nav .logo a img{
    width: 100px;
    height: 50px;
    margin-top: 5px;
}

nav .hamburger{
    display: none;
    font-size: 24px;
    color: #a21bc83d;
}

nav .nav-links ul{
    list-style-type: none;
    display: flex;
}

nav .nav-links ul li a{
    text-decoration: none;
    color: #000000;
    padding: 1em;
    font-size: 1.1rem;
    font-weight: 700;
}

nav .nav-links ul li a:hover {
    color: #ffffff;
    background-color: #C9EEFF;
}

main{
    flex: 1;
    background-color: #C9EEFF;
    padding: 3em 4em;
}

/* Home Page Content */

.home-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
    justify-items: center;
    align-items: center;
}

.home-section .home-img img{
    width: 500px;
}

.home-section .home-text{
    text-align: justify;
}

.home-section .home-text h1{
    font-size: 3rem;
    margin-bottom: 16px;
    color: #000000;
}

.home-section .home-text p{
    margin-bottom: 1em;
    color: #000000;
}

/* Donate Page Content */

.donate-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1em;
}

.donate-section p{
    text-align: justify;
}

.donate-section .donate-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate-section .donate-img img{
    width: 80%;
}

/* Footer */

footer{
    background-color: #d20eae;
    text-align: center;
    padding: 2em 0 1.5em 0;
}

footer p{
    color: #ffffff;
}

@media (max-width: 1000px) {
    .home-section{
        grid-template-columns: repeat(1, 1fr);
    }
}


@media (max-width: 768px) {
    nav .hamburger{
        display: block;
        cursor: pointer;
        margin-right: 10px;
    }

    nav .nav-links{
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        width: 100%;
        opacity: 0;
        background-color: #000000;
    }

    nav .nav-links.active{
        opacity: 1;
    }

    nav .nav-links ul{
        display: block;
        width: fit-content;
        text-align: center;
        margin: 0 auto;
    }

    nav .nav-links ul li{
        margin: 1em 0;
    }

    .news-section{
        padding: 2em;
    }
}

@media (max-width: 620px) {
    .home-section .home-img img{
        width: 100%;
    }
}

@media (max-width: 426px) {
    main{
        padding: 1.5em;
    }

    .home-section{
        gap: 2em;
    }

    footer p{
        padding: 0 1em;
    }
}